.sa-target {
	opacity: 0;
	transition: all 0.4s ease-in;
}

.sa-hop {
	transform: translate(0, 20px);
}

.sa-right {
	transform: translate(60px, 0);
}

.sa-left {
	transform: translate(-60px, 0);
}

.sa-animate {
	opacity: 1;
	transform: translate(0, 0) scale(1, 1);
}
